#about-me {
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

#about-me-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#aside-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (min-width: 830px) {
    #about-me {
        flex-direction: row;
        justify-content: space-between;
    }

    #aside-content {
        flex-direction: column;
        justify-content: space-between;
    }

    #aside-content {
        flex: 1;
    }

    #about-me-content {
        flex: 2;
    }
}