#landing-page {
    height: 100vh;
}

#landing-page > img {
    height: 70vh;
    width: 70vw;
    position: absolute;
    right: 0;
    top: 15vh;
    object-fit: cover;
    z-index: -10000;
}

#landing-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#landing-page-content > p {
    margin-bottom: 1rem;
}

#social-media {
    display: none;
}

.scroll-down {
    position: absolute;
    left: calc(50vw - 30px);
    bottom: 0;
}

.scroll-down > img:nth-child(1) {
    animation: levitate 1s infinite;
}

@media only screen and (min-width: 830px) {
    #social-media {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 0.5rem;
        top: calc(50vh - 5.25rem);
        right: 2rem;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 1100px) {
    #landing-page > img {
        right: 15vh;
        width: 50vw;
    }
}