@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@keyframes levitate {
    0% {
        transform: translate(0, -10px);
    }

    75% {
        transform: translate(0, 1px);
    }

    100% {
        transform: translate(0, -10px);
    }
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    max-width: 830px;
}

.filled-button {
    background-color: white;
    outline-style: none;
    border: none;
    width: 116px;
    height: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.filled-button:active {
    transform: scale(1.1);
}

main {
    margin: 0px 4rem;
}

.cart {
    padding: 2rem;
    height: 100%;
    transition: 0.3s;
}

.cart:hover {
    transform: scale(1.05);
}

.cart > h1 {
    left: 1rem;
    position: relative;
    bottom: 7rem;
}

.cart > p {
    position: relative;
    left: 1rem;
    bottom: 7rem;
}

.cart > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.icon {
    height: 2rem;
    width: 2rem;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
  }
  
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 16px;
    }

    .filled-button  {
        width: 144px;
        height: 48px;
    }
}

@media only screen and (min-width: 1100px) {
    html {
        font-size: 24px;
    }

    .filled-button  {
        width: 192px;
        height: 64px;
    }

    #landing-page button {
        background-color: transparent;
        border: 3px solid #FFF;
        color: white;
    }
}