@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@keyframes levitate {
    0% {
        transform: translate(0, -10px);
    }

    75% {
        transform: translate(0, 1px);
    }

    100% {
        transform: translate(0, -10px);
    }
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
} 

html {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 11px;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

strong {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

.filled-button {
    background-color: white;
    border: none;
    transition: box-shadow .1s linear, transform 0.3s linear;
}

.filled-button:hover {
    box-shadow: 0 0 21px rgba(255, 255, 255,0.6);
}

.ghost-button {
    background: none;
    border: 2px solid #ffffff;
    color: white;
    transition: color 0.4s linear, transform 0.3s linear;
}

button {
    outline-style: none;
    width: 116px;
    height: 42px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.ghost-button:hover {
    color: black;
}

.ghost-button::before {
    background: white;
}

.ghost-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 101%;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.ghost-button::before {
    transform: scaleX(0);
}

.ghost-button:hover::before {
    transform: scaleX(1);
}

button:active {
    transform: scale(1.1);
}

main {
    margin: 0 4rem;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.reveal {
    position: relative;
    transform: translateY(25px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 15px;
    }

    p {
        max-width: 600px;
    }

    button {
        width: 144px;
        height: 48px;
    }
}

@media only screen and (min-width: 1100px) {
    html {
        font-size: 18px;
    }

    p {
        max-width: 700px;
    }

    button {
        width: 192px;
        height: 64px;
    }
}


@media only screen and (min-width: 1600px) {
    html {
        font-size: 21px;
    }

    p {
        max-width: 900px;
    }
}