#projects {
    margin-bottom: 15vh;
}

#projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: calc(100% - 1rem); 
}

.horizontal-line {
    background-color: white;
    width: 100%;
    height: 1px;
}

#vertical-box {
    position: absolute;
    right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 1rem;
}

.vertical-line {
    background-color: white;
    width: 1px;
    height: 30vh;
}

#project-showcase {
    margin-top: 1rem;
    margin-bottom: calc(1rem + 20px);
    height: 60vh;
    position: relative;
    right: 4rem;
}

#gray-box {
    height: 60vh;
    background-color: #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0px 1rem;
}

#white-box {
    background-color: white;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#arrow-left {
    position: absolute;
    left: 0px;
    z-index: 100;
}

#arrow-left > img {
    width: 6rem;
}

#arrow-right {
    position: absolute;
    right: 0px;
    z-index: 100;
}

#arrow-right > img {
    width: 6rem;
}

#github-button {
    display: flex;
    justify-content: center;
}

#white-box > div:nth-child(2) {
    display: none;
}

#white-box > div:nth-child(3) {
    display: none;
}

@media only screen and (min-width: 830px) {
    #white-box > div:nth-child(2) {
        display: block;
        padding-left: 0;
    }
}

@media only screen and (min-width: 1450px) {
    #white-box > div:nth-child(3) {
        display: block;
        padding-left: 0;
    }
}